{% extends "base.html" %}

{%block title %}
Frames
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Video {{frames[0].folder}}.mp4 Frames List</strong>
    </div>
    <div class="card-body ">
      <form method="POST"  action="/frame-edit/{{frames[0].video_id}}">
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/video-list">
            Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Edit Frame</button>
        </div>
        <table class="table table-sm">
          <thead>
            <tr class="table-primary">
              <th width="40" class="text-center">#</th>
              <th width="250" class="text-center">Folder Name</th>
              <th width="250" class="text-center">Image Name</th>
              <th width="200" class="text-center">Updated At</th>
              <th class="text-center">Image</th>
              <th width="150" class="text-center">Label</th>
              <th width="150" class="text-center">Word</th>
            </tr>
          </thead>
          <tbody>
            {% set count = namespace(value=1) %}
            {% set class = "table-default" %}
            {% for frame in frames %}
              <tr>
                <td class="text-center">{{ count.value }}.</td>
                <td>{{ frame.folder }} </td>
                <td>{{ frame.image_name }} {{ frame.id }}</td>
                <td class="text-center">{{ frame.updated_at }}</td>
                <td class="text-center">
                  <image class="img-thumbnail" width="120"
                    src="{{ url_for('frames.frames_datasets',
                    foldername=frame.folder, filename=frame.image_name) }}"
                    data-my-var="{{ url_for('frames.frames_datasets',
                    foldername=frame.folder, filename=frame.image_name) }}" >
                  </image>
                </td>
                <td>
                  <select class="form-control" name="label_id">
                    <option value=""></option>
                  {% for label in labels %}
                    <option value="{{ label.id }}"
                      {{ "selected" if label.id==frame.label_id }}>{{ label.label }}</option>
                  {% endfor %}
                  </select>
                </td>
                <td>
                  <select class="form-control" name="word_id">
                    <option value=""></option>
                  {% for word in words %}
                    <option value="{{ word.id }}"
                      {{ "selected" if word.id==frame.word_id }}>{{ word.word }}</option>
                  {% endfor %}
                  </select>
                  <input type="hidden" class="form-control" name="id" value="{{ frame.id }}">
                </td>
              </tr>
              {% set count.value = count.value + 1 %}
            {% endfor%}
          </tbody>
        </table>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/video-list">
            Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Edit Frame</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Frame</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
        <div class="embed-responsive embed-responsive-16by9">
          <image id="frame" src="" width="320">
          </image>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
{% endblock%}