{% extends "base.html" %}

{%block title %}
Logs
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Add Log</strong>
    </div>
    <div class="card-body ">
      <form method="POST" action="/log-add">
        <div class="mb-3">
          <label for="log_type" class="form-labe fw-bold">Log Type</label>
          <select class="form-control" name="log_type">
            <option value="default">Default</option>
            <option value="warning">Warning</option>
            <option value="danger">Danger</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="data" class="form-label fw-bold">Data</label>
          <textarea name="data" id="data" class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/log-list">
            Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Add Log</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}