{% extends "base.html" %}

{%block title %}
Logs
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Edit Log</strong>
    </div>
    <div class="card-body ">
      <form method="POST" action="/log-edit/{{ data.id }}">
        <div class="mb-3">
          <label for="log_type" class="form-label fw-bold">Log Type</label>
          <select class="form-control" name="log_type">
            <option value="default" {{ "selected" if data.log_type=="default" }}>Default</option>
            <option value="warning" {{ "selected" if data.log_type=="warning" }}>Warning</option>
            <option value="danger" {{ "selected" if data.log_type=="danger" }}>Danger</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="data" class="form-label fw-bold">Data</label>
          <textarea name="data" id="data" class="form-control">{{ data.data }}</textarea>
        </div>
        <div class="mb-3">
          <input type="hidden" name="id" value="{{ data.id }}">
          <a class="btn btn-sm btn-secondary" role="button" href="/log-list">
            Back</a>
          <button type="submit" class="btn btn-sm btn-warning">Edit Log</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}