{% extends "base.html" %}

{%block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Logs List</strong>
    </div>
    <div class="card-body ">
      <table class="table table-sm">
        <thead>
          <tr class="table-primary">
            <th width="40" class="text-center">#</th>
            <th width="180">Date</th>
            <th>Log</th>
            <th width="90" class="text-center">
              <a class="btn btn-sm btn-primary" role="button" href="/log-add">
              <i class="fa-solid fa-plus"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% set count = namespace(value=1) %}
          {% set class = "table-default" %}
          {% for log in logs %}
          {% if log.log_type == "warning" %}
          {% set class = "table-warning" %}
          {% elif log.log_type == "danger" %}
          {% set class = "table-danger" %}
          {% endif %}
          <tr class="{{ class }}">
            <td class="text-center">{{ count.value }}.</td>
            <td class="text-center">{{ log.updated_at }}</td>
            <td>{{ log.data|safe }}</td>
            <td class="text-center">
              <!-- <button type="button" class="class" onclick="deletelog({{ log.id }})">
                  <span aria-hidden="true">&times;</span>
                </button> -->
              <a class="btn btn-sm btn-secondary" role="button" href="/log-edit/{{ log.id }}">
                <i class="fa-solid fa-pen"></i></a>
              <a class="btn btn-sm btn-danger" role="button" href="/log-del/{{ log.id }}">
                <i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          {% set count.value = count.value + 1 %}
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}