{% extends "base.html" %}

{% block title %} Words {% endblock %} 

{% block content%}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Add User</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/word-add">
        <div class="mb-3">
          <label for="word" class="form-label fw-bold">word</label>
          <input
            type="text"
            class="form-control"
            name="word"
            id="word"
            placeholder="Enter word"
          />
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/word-list">Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Add word</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
