{% extends "base.html" %}

{% block title %} Words {% endblock %} 

{% block content%}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Users List</strong>
    </div>
    <div class="card-body ">
      <form method="POST" action="/word-del/{{ data.id }}">
        <div class="mb-3">
          <label for="id" class="form-label fw-bold">id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="id"
            value="{{ data.id }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="word" class="form-label fw-bold">word</label>
          <input
            type="text"
            class="form-control"
            name="word"
            id="word"
            value="{{ data.word }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="created_at" class="form-label fw-bold">created_at</label>
          <input
            type="text"
            class="form-control"
            name="created_at"
            id="created_at"
            value="{{ data.created_at }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="updated_at" class="form-label fw-bold">updated_at</label>
          <input
            type="text"
            class="form-control"
            name="updated_at"
            id="updated_at"
            value="{{ data.updated_at }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <input type="hidden" name="id" value="{{ data.id }}" />
          <a class="btn btn-sm btn-secondary" role="button" href="/word-list">Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Delete word</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
