{% extends "base.html" %}

{% block title %} Words {% endblock %} 

{% block content%}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Add User</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/word-edit/{{ data.id }}">
        <div class="mb-3">
          <label for="word" class="form-label fw-bold">Word</label>
          <input
            type="text"
            class="form-control"
            name="word"
            id="word"
            value="{{ data.word }}"
          />
        </div>
        <div class="mb-3">
          <input type="hidden" name="id" value="{{ data.id }}" />
          <a class="btn btn-sm btn-secondary" role="button" href="/word-list">Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Edit word</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
