{% extends "base.html" %} {% block title %} Words {% endblock %} {% block
content%}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Words List</strong>
    </div>
    <div class="card-body">
      <table class="table table-sm table-striped">
        <thead>
          <tr class="table-primary">
            <th class="text-center">#</th>
            <th class="text-center">Word</th>
            <th class="text-center">Created At</th>
            <th class="text-center">Updated At</th>
            <th width="90" class="text-center">
              <a class="btn btn-sm btn-primary" role="button" href="/word-add">
                <i class="fa-solid fa-plus"></i
              ></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% set count = namespace(value=1) %} {% for word in words %}
          <tr>
            <td class="text-center">{{ count.value }}.</td>
            <td class="text-center">{{ word.word }}</td>
            <td class="text-center">{{ word.created_at }}</td>
            <td class="text-center">{{ word.updated_at }}</td>
            <td class="text-center">
              <a
                class="btn btn-sm btn-secondary"
                role="button"
                href="/word-edit/{{ word.id }}"
              >
                <i class="fa-solid fa-pen"></i
              ></a>
              <a
                class="btn btn-sm btn-danger"
                role="button"
                href="/word-del/{{ word.id }}"
              >
                <i class="fa-solid fa-trash"></i
              ></a>
            </td>
          </tr>
          {% set count.value = count.value + 1 %} {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}
