{% extends "base.html" %}

{%block title %}
Update User
{% endblock %}
{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Update User</strong>
    </div>
    <div class="card-body ">
      <form method="POST" action="/user-del/{{ data.id }}">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email" value="{{ data.email }}" readonly>
        </div>
        <div class=" mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" name="first_name" id="first_name" value="{{ data.first_name }}" readonly>
        </div>
        <div class=" mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="last_name" value="{{ data.last_name }}" readonly>
        </div>
        <div class=" mb-3">
          <label for="role" class="form-label">Role</label>
          <input type="text" class="form-control" name="role" id="role" value="{{ data.role }}" readonly>
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/user-list">
            Back</a>
          <input type="hidden" class="form-control" name="userId" id="userId" value="{{ data.id }}">
          <button type="submit" class="btn btn-sm btn-primary">Delete User</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}