{% extends "base.html" %}

{%block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Users List</strong>
    </div>
    <div class="card-body ">
      <table class="table table-sm">
        <thead>
          <tr class="table-primary">
            <th width="40" class="text-center">#</th>
            <th width="160">e-Mail</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Updated At</th>
            <th width="90" class="text-center">
              <a class="btn btn-sm btn-primary" role="button" href="/user-add">
              <i class="fa-solid fa-plus"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% set count = namespace(value=1) %}
          {% set class = "table-default" %}
          {% for user in users %}
          <tr class="{{ class }}">
            <td class="text-center">{{ count.value }}.</td>
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.updated_at }}</td>
            <td class="text-center">
              <a class="btn btn-sm btn-secondary" role="button" href="/user-edit/{{ user.id }}">
                <i class="fa-solid fa-pen"></i></a>
              <a class="btn btn-sm btn-danger" role="button" href="/user-del/{{ user.id }}">
                <i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          {% set count.value = count.value + 1 %}
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}