{% extends "base.html" %} {%block title %} Frames {% endblock %} {% block
content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Title Data</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/title-add">
        <div class="mb-3">
          <label for="gloss" class="form-label fw-bold">Gloss</label>
          <input
            type="text"
            class="form-control"
            name="gloss"
            id="gloss"
            placeholder="Enter gloss"
          />
        </div>
        <div class="mb-3">
          <label for="word" class="form-label fw-bold">Word</label>
          <input
            type="text"
            class="form-control"
            name="word"
            id="word"
            placeholder="Enter word"
          />
        </div>
        <div class="mb-3">
          <label for="text" class="form-label fw-bold">Text</label>
          <input
            type="text"
            class="form-control"
            name="text"
            id="text"
            placeholder="Enter text"
          />
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/title-list"
            >Back</a
          >
          <button type="submit" class="btn btn-sm btn-primary">
            Add title
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}
