{% extends "base.html" %} {%block title %} Frames {% endblock %} {% block
content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Title Data</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/title-del/{{ data.id }}">
        <div class="mb-3">
          <label for="gloss" class="form-label fw-bold">Gloss</label>
          <input
            type="text"
            class="form-control"
            name="gloss"
            id="gloss"
            value="{{ data.gloss }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="word" class="form-label fw-bold">Word</label>
          <input
            type="text"
            class="form-control"
            name="word"
            id="word"
            value="{{ data.word }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="text" class="form-label fw-bold">Text</label>
          <input
            type="text"
            class="form-control"
            name="text"
            id="text"
            value="{{ data.text }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="created_at" class="form-label fw-bold">Created at</label>
          <input
            type="text"
            class="form-control"
            name="created_at"
            id="created_at"
            value="{{ data.created_at }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="updated_at" class="form-label fw-bold">Updated at</label>
          <input
            type="text"
            class="form-control"
            name="updated_at"
            id="updated_at"
            value="{{ data.updated_at }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <input type="hidden" name="id" value="{{ data.id }}" />
          <a class="btn btn-sm btn-secondary" role="button" href="/title-list"
            >Back</a
          >
          <button type="submit" class="btn btn-sm btn-primary">
            Delete title
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}
