{% extends "base.html" %} {%block title %} Frames {% endblock %} {% block
content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Title Data</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/title-edit/{{ data.id }}">
        <div class="mb-3">
          <label for="gloss" class="form-label fw-bold">gloss</label>
          <input
            type="text"
            class="form-control"
            name="gloss"
            id="gloss"
            value="{{ data.gloss }}"
          />
        </div>
        <div class="mb-3">
          <label for="word" class="form-label fw-bold">word</label>
          <input
            type="text"
            class="form-control"
            name="word"
            id="word"
            value="{{ data.word }}"
          />
        </div>
        <div class="mb-3">
          <label for="text" class="form-label fw-bold">text</label>
          <input
            type="text"
            class="form-control"
            name="text"
            id="text"
            value="{{ data.text }}"
          />
        </div>
        <div class="mb-3">
          <input type="hidden" name="id" value="{{ data.id }}" />
          <a class="btn btn-sm btn-secondary" role="button" href="/title-list"
            >Back</a
          >
          <button type="submit" class="btn btn-sm btn-primary">
            Edit title
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}
