{% extends "base.html" %} {%block title %} Frames {% endblock %} {% block
content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Title List</strong>
    </div>
    <div class="card-body">
      <table class="table table-sm table-striped">
        <thead>
          <tr class="table-primary">
            <th class="text-center">No</th>
            <th class="text-center">Gloss</th>
            <th class="text-center">Word</th>
            <th class="text-center">Text</th>
            <!-- <th class="text-center">Created at</th> -->
            <th class="text-center">Updated at</th>
            <th width="90" class="text-center">
              <a class="btn btn-sm btn-primary" role="button" href="/title-add">
                <i class="fa-solid fa-plus"></i
              ></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% set count = namespace(value=1) %} {% for title in titles %}
          <tr>
            <td>{{ count.value }}</td>
            <td>{{ title.gloss }}</td>
            <td>{{ title.word }}</td>
            <td>{{ title.text }}</td>
            <!-- <td>{{ title.created_at }}</td> -->
            <td>{{ title.updated_at }}</td>
            <td class="text-center">
              <a
                class="btn btn-sm btn-secondary"
                role="button"
                href="/title-edit/{{ title.id }}"
              >
                <i class="fa-solid fa-pen"></i
              ></a>
              <a
                class="btn btn-sm btn-danger"
                role="button"
                href="/title-del/{{ title.id }}"
              >
                <i class="fa-solid fa-trash"></i
              ></a>
            </td>
          </tr>
          {% set count.value = count.value + 1 %} {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}
