{% extends "base.html" %}

{%block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Add User</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/label-add">
        <div class="mb-3">
          <label for="label" class="form-label fw-bold">Label</label>
          <input type="text" class="form-control" name="label" id="label" placeholder="Enter label">
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/label-list">Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Add label</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}