{% extends "base.html" %}

{%block title %}
Update User
{% endblock %}
{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Update User</strong>
    </div>
    <div class="card-body ">
      <form method="POST" action="/label-del/{{ data.id }}">
        <div class="mb-3">
          <label for="label" class="form-label fw-bold">label</label>
          <input type="text" class="form-control" name="label" id="label" value="{{ data.label }}" readonly>
        </div>
        <div class="mb-3">
          <input type="hidden" name="id" value="{{ data.id }}">
          <a class="btn btn-sm btn-secondary" role="button" href="/label-list">Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Delete label</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}