{% extends "base.html" %} {%block title %} Upload Video {% endblock %} {% block
content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Add Video</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/video-del/{{ video.id }}">
        <div class="mb-3">
          <label for="signer" class="form-labe fw-bold">Signer</label>
          <input
            type="text"
            class="form-control"
            name="gloss"
            value="{{ video.signer }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="Title" class="form-labe fw-bold">Title</label>
          <input
            type="text"
            class="form-control"
            name="gloss"
            value="{{ video.title.text }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="video" class="form-label">Video</label>
          <input
            type="text"
            class="form-control"
            name="file"
            value="{{ video.video_name }}"
            readonly
          />
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/video-list">
            Back</a
          >
          <button type="submit" class="btn btn-sm btn-primary">
            Delete Video
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}
