{% extends "base.html" %}

{%block title %}
Upload Video
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Add Video</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/video-edit/{{ video.id }}" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="signer" class="form-labe fw-bold">Signer</label>
          <select class="form-control" name="signer">
            <option value="signer-1" {{ 'selected' if video.signer == 'signer-1' }}>Signer-1</option>
            <option value="signer-2" {{ 'selected' if video.signer == 'signer-2' }}>Signer-2</option>
            <option value="signer-3" {{ 'selected' if video.signer == 'signer-3' }}>Signer-3</option>
            <option value="signer-4" {{ 'selected' if video.signer == 'signer-4' }}>Signer-4</option>
            <option value="signer-5" {{ 'selected' if video.signer == 'signer-5' }}>Signer-5</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="Title" class="form-labe fw-bold">Title</label>
          <select class="form-control" name="title_id">
            <option value=""></option>
            {% for title in titles %}
            <option value="{{ title.id }}" {{ "selected" if title.id==video.title_id }}>{{ title.text }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="video" class="form-label">Video</label>
          <input type="text" class="form-control" name="file" value="{{ video.video_name }}" readonly>
        </div>
        <div class="mb-3">
          <a class="btn btn-sm btn-secondary" role="button" href="/video-list">
            Back</a>
          <button type="submit" class="btn btn-sm btn-primary">Edit Video</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}