{% extends "base.html" %} {%block title %} Videos {% endblock %} {% block
content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Searching</strong>
    </div>
    <div class="card-body">
      <form action="video-list" method="POST">
        <div class="row">
            <div class="col-md-5">
              <select class="form-control" name="signer">
                <option value="">All</option>
                <option value="signer-1" {{ 'selected' if signer == 'signer-1' }}>Signer-1</option>
                <option value="signer-2" {{ 'selected' if signer == 'signer-2' }}>Signer-2</option>
                <option value="signer-3" {{ 'selected' if signer == 'signer-3' }}>Signer-3</option>
                <option value="signer-4" {{ 'selected' if signer == 'signer-4' }}>Signer-4</option>
                <option value="signer-5" {{ 'selected' if signer == 'signer-5' }}>Signer-5</option>
              </select>
            </div>
            <div class="col-md-6">
              <select class="form-control" name="title_id">
                <option value="">All</option>
                {% for title in titles %}
                <option value="{{ title.id }}" {{ "selected" if title.id==title_id }}>{{ title.text }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-1">
              <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-header bg-success text-light">
      <strong>Videos List</strong>
    </div>
    <div class="card-body">
      <table class="table table-sm table-striped">
        <thead>
          <tr class="table-primary">
            <th width="40" class="text-center">#</th>
            <th>File Name</th>
            <th width="100">Signer</th>
            <th width="250">Gloss</th>
            <th width="250">Word</th>
            <th width="250">Text</th>
            <th width="150" class="text-center">
              {% if user.is_authenticated and user.role == "admin" %}
              <a class="btn btn-sm btn-primary" role="button" href="/video-add">
                <i class="fa-solid fa-plus"></i
              ></a>
              {% else %}
              Action
              {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
          {% set count = namespace(value=1) %} {% set class = "table-default" %}
          {% for video in videos %} {% if video.video_type == "warning" %} {%
          set class = "table-warning" %} {% elif video.video_type == "danger" %}
          {% set class = "table-danger" %} {% endif %}
          <tr class="{{ class }}">
            <td class="text-center">{{ count.value }}.</td>
            <td>{{ video.video_name }}</td>
            <td>{{ video.signer }}</td>
            <td>{{ video.title.gloss }}</td>
            <td>{{ video.title.word }}</td>
            <td>{{ video.title.text }}</td>
            <td class="text-center">
              <a
                class="btn btn-sm btn-success"
                role="button"
                data-my-title="{{ video.title.text }}"
                data-my-var="{{ video.video_name }}"
              >
                <i class="fa-solid fa-play"></i
              ></a>
              {% if user.is_authenticated and user.role == "admin" %}
              <a
                class="btn btn-sm btn-secondary"
                role="button"
                href="/video-edit/{{ video.id }}"
                ><i class="fa-solid fa-pen"></i
              ></a>
              <a
                class="btn btn-sm btn-danger"
                role="button"
                href="/video-del/{{ video.id }}"
                ><i class="fa-solid fa-trash"></i
              ></a>
              <a
                class="btn btn-sm btn-info"
                role="button"
                href="/frame-edit/{{ video.id }}"
                ><i class="fa-solid fa-film"></i
              ></a>
              {% endif %}
            </td>
          </tr>
          {% set count.value = count.value + 1 %} {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Video</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
        <div class="embed-responsive">
          <video class="embed-responsive-item" controls>
            <source id="video" src="" type="video/mp4" />
            Browser Anda tidak mendukung tag video.
          </video>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock%}
