{% extends "base.html" %}

{%block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>CRUD</strong>
    </div>
    <div class="card-body ">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">add</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8">{{ add_html }}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">edit</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8">{{ edit_html }}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">del</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8">{{ del_html }}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">list</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8">{{ list_html }}</textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">blueprint</label>
        <input type="text" class="form-control" value="{{ blueprint }}" readonly>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">import blueprint</label>
        <input type="text" class="form-control" value="{{ import_blueprint }}" readonly>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">register blueprint</label>
        <input type="text" class="form-control" value="{{ register_blueprint }}" readonly>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">routes</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8">{{ routes }}</textarea>
      </div>
    </div>
  </div>
</div>
{% endblock%}