{% extends "base.html" %} {%block title %} Home {% endblock %} {% block content
%}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Home</strong>
    </div>
    <div class="card-body">
      <div class="mt-2 ps-5 pe-5">
        Welcome to the
        <a href="https://quran.kemenag.go.id/" target="_blank"
          >Indonesian Al-Qur'an
        </a>
        Sign Language Dataset, the first digital platform dedicated to enriching
        the learning experience of the Al-Qur'an for the deaf community in
        Indonesia. Utilizing the official guide from the Ministry of Religious
        Affairs of the Republic of Indonesia, we present the verses of the
        Al-Qur'an in sign language that is accurate and easy to understand. Join
        us in the journey to deepen the understanding of the holy book using
        sign language.
      </div>
      <h2 class="mt-3">About Study Guides</h2>
      <div class="mt-2 ps-5  pe-5">
        <a
          href="https://quran.kemenag.go.id/assets/files/Pedoman-Membaca-Mushaf-Al-Quran-Isyarat.pdf"
          target="_blank"
          >Guidelines for Reading the Al-Qur'an in Sign Language</a
        >
        from the Ministry of Religious Affairs of the Republic of Indonesia, we
        are committed to ensuring that every piece of learning material we
        present is accurate and meets the established standards. This dedication
        stems from our understanding of the critical importance of providing the
        deaf community with access to religious texts in a manner that is both
        respectful and precise. The guidelines serve as a foundational framework
        for all our content, ensuring that each verse of the Al-Qur'an
        translated into sign language maintains the integrity and sanctity of
        the original Arabic text.
      </div>
      <div class="mt-1 ps-5  pe-5">
        The guide is readily available for download directly through our
        website, offering you access to an authentic and trustworthy learning
        resource. This accessibility ensures that educators, students, and
        anyone interested in learning or teaching the Al-Qur'an in sign language
        can easily obtain the necessary tools and information. By providing
        these resources, we aim to foster a supportive environment that
        encourages the exploration and understanding of the holy book, making it
        more inclusive for all. Our mission is to bridge the gap between the
        deaf community and the spiritual guidance offered by the Al-Qur'an,
        enriching the spiritual lives of individuals with hearing impairments by
        making religious learning a more inclusive and comprehensive experience.
      </div>
      <h2 class="mt-3">Al-Qur'an in Sign Language: Example Video</h2>
      <div class="mt-1 ps-5  pe-5">
        To enhance your learning experience, we are pleased to present an
        example video of the Al-Qur'an being interpreted in sign language. This
        video serves as a practical demonstration of how the sacred verses can
        be communicated through sign language, ensuring accessibility and
        understanding for the deaf community. Watch closely as we bring the
        words of the Al-Qur'an to life, providing a meaningful connection to its
        teachings for all viewers, regardless of hearing ability
      </div>
      <div class="mt-2">
        <table class="table table-sm">
          <tr>
            <td class="text-center">
              <video width="320" height="320" controls muted>
                <source
                  src="/videos_datasets/1_alfatihah_1_1_1.mp4"
                  type="video/mp4"
                />
              </video>
            </td>
            <td class="text-center">
              <video width="320" height="320" controls muted>
                <source
                  src="/videos_datasets/1_alfatihah_2_2_1.mp4"
                  type="video/mp4"
                />
              </video>
            </td>
            <td class="text-center">
              <video width="320" height="320" controls muted>
                <source
                  src="/videos_datasets/1_alfatihah_3_3_1.mp4"
                  type="video/mp4"
                />
              </video>
            </td>
          </tr>
          <tr>
            <td class="text-center">Bismillāhir-raḥmānir-raḥīm</td>
            <td class="text-center">Al-ḥamdu lillāhi rabbil-‘ālamīn</td>
            <td class="text-center">Ar-raḥmānir-raḥīm</td>
          </tr>
        </table>
      </div>
      <h2 class="mt-3">Contact</h2>
      <div class="mt-2 ps-5 pe-5">
        <strong>Yulrio Brianorman</strong>
        <a href="mailto:rionorman@gmail.com">Send Email</a>
      </div>
    </div>
  </div>
</div>
{% endblock%}
