{% extends "base.html" %}

{%block title %}
Login
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Login</strong>
    </div>
    <div class="card-body">
      <form method="POST" action="/login">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}