<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">QURAN ISYARAT</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dataset
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="/label-list">Labels</a></li>
            <li><a class="dropdown-item" href="/word-list">Words</a></li>
            <li><a class="dropdown-item" href="/title-list">Titles</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="/video-list">Videos</a></li>
            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
        {% if user.is_authenticated and user.role == "admin" %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/log-list">Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user-list">Users</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout ({{user.first_name}})</a>
        </li>
        {% endif %}

        <!-- <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
