{% extends "base.html" %}

{%block title %}
Sign Up
{% endblock %}

{% block content %}
<div class="container">
  <div class="card bg-light shadow">
    <div class="card-header bg-success text-light">
      <strong>Sign Up Page</strong>
    </div>
    <div class="card-body ">
      <form method="POST" action="/signup">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
        </div>
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter first name">
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter last name">
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter Password">
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label">Password (Confirm)</label>
          <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}